### Question
#### What is the average of our sales
#### What is the smallest sales value
#### What is the largest sales recorded

In [2]:
import pandas as pd

product = pd.Series(['orange','apple','mango']).sample(100, replace = True).reset_index(drop=True)

In [3]:
sales = pd.Series([5,8,4,9,12,7]).sample(100, replace = True).reset_index(drop=True)

### Data Source

In [5]:
df = pd.DataFrame({"product":product,"sales":sales})

In [6]:
df.shape

(100, 2)

In [10]:
df.head()

  product  sales
0   mango     12
1   mango      4
2  orange      7
3   mango      5
4  orange      7

In [11]:
df.tail()

   product  sales
95   mango      8
96   apple     12
97   apple      7
98  orange     12
99   apple      8

In [12]:
df.describe()

            sales
count  100.000000
mean     7.570000
std      2.648632
min      4.000000
25%      5.000000
50%      8.000000
75%      9.000000
max     12.000000

In [13]:
df["sales"].mean()

7.57

In [16]:
df.groupby('product').agg('mean')

            sales
product
apple    8.678571
mango    6.903226
orange   7.317073

In [17]:
l = [2,3,4,5,6]
some_age = pd.Series(l)

In [18]:
some_age

0    2
1    3
2    4
3    5
4    6
dtype: int64

## Creating data frame

In [20]:
d = {"Students":["Andrew","Ben","Carol"],"Results":[3,4,5]}
st_df = pd.DataFrame(d)

In [21]:
st_df.columns

Index(['Students', 'Results'], dtype='object')

In [22]:
st_df["Students"]

0    Andrew
1       Ben
2     Carol
Name: Students, dtype: object