In [28]:
import pandas as pd
import numpy as np

df = pd.read_pickle("apt_data_v1.pkl")

In [29]:
df

     Bedrooms             House Type                  Location       Price
0           1             apartment               Adjiringanor       96497
1           1                   48 m                  1 1 48 m  1 1 1 48 m
2           1             apartment   Airport Residential Area     1045000
3           1             apartment   Airport Residential Area     2322000
4           3             apartment   Airport Residential Area     4755000
...       ...                    ...                       ...         ...
1592        3             apartment                Cantonments     5108702
1593        4             apartment                 East Legon     5108702
1594        4             apartment                 West Legon     3973435
1595        4             apartment            Lakeside Estate     1400000
1596        1   furnished apartment                   Shiashie      845000

[1597 rows x 4 columns]

In [30]:
df.head(60)

,Bedrooms,House Type,Location,Price
0,1,apartment,Adjiringanor,96497
1,1,48 m,1 1 48 m,1 1 1 48 m
2,1,apartment,Airport Residential Area,1045000
3,1,apartment,Airport Residential Area,2322000
4,3,apartment,Airport Residential Area,4755000
5,1,apartment,Airport Residential Area,2015000
6,1,apartment,Airport Residential Area,960000
7,1,apartment,Airport Residential Area,1380000
8,3,apartment,Airport Residential Area,4765000
9,3,penthouseapartment,Airport Residential Area,6850000
10,3,apartment,Airport Residential Area,3845000
11,1,apartment,Airport Residential,1509337
12,3,apartment,Sakumono,1419084
13,1,apartment,Cantonments,1889000
14,2,apartment,Cantonments,2870000
15,1,furnished apartment,Osu,1135267
16,1,apartment,Airport Residential Area,935000
17,3,apartment,Airport Residential Area,4790000
18,1,apartment,Airport Residential Area,1566101
19,1,apartment,Airport Residential Area,2215000
20,1,furnished apartment,Ridge Osu,1112562
21,1,apartment,Oyarifa,576000
22,3,apartment,Cantonments,4541068
23,2,apartment,Airport Residential,2115002
24,1,furnished apartment,Tse Addo,1040000
25,1,furnished apartment,East Legon,1316910
26,1,apartment,Airport Residential Area,1955000
27,1,apartment,"Borteyman, Accra",260000
28,3,furnished apartment,Achimota,3405801
29,3,apartment,Airport Residential Area,8050000
30,2,apartment,Labone,2667500
31,3,penthouseapartment,Labone,4345000
32,3,furnished apartment,Airport Residential Area,4541068
33,2,apartment,Airport Residential,2405600
34,1,apartment,Osu,1702901
35,1,apartment,Airport Residential Area,953057
36,1,apartment,Cantonments,1759664
37,1,apartment,Cantonments,2043481
38,3,apartment,Airport Residential Area,5108702
39,2,apartment,Cantoments,3292274
40,2,apartment,Adenta,681160
41,1,furnished apartment,Shaishie,1135267
42,3,apartment,Spintex,2645000
43,3,apartment,Airport City,6300000
44,3,furnished apartment,Dansoman,8000000
45,2,apartment,North Dzorwulu,3360000
46,1,apartment,Dubai,885508
47,2,apartment,Airport Residential Area,2595000
48,3,apartment,Airport Residential,2240000
49,3,apartment,Cantonments,[Price disclosed on request]
50,3,apartment,Airport Residential Area,[Price disclosed on request]
51,1,apartment,Osu,1850485
52,2,apartment,Tse Addo,2043481
53,5,apartment,East Legon,5676335
54,1,apartment,Labone,1512500
55,2,furnished apartment,East Legon,2100244
56,3,apartment,East Legon,2951694
57,3,apartment,Airport Area,6960000
58,2,furnished apartment,East Legon,16800
59,3,apartment,Kass Towers Airport Residential ( USD,5960152

In [31]:
df.Location = df.Location.str.lower()

In [39]:
east = df.query('Location.str.contains("east legon")')

In [40]:
df.Location.value_counts().head(50)

east legon                           237
cantonments                          215
airport residential area             163
labone                                65
osu                                   41
airport area                          41
spintex                               36
airport residential                   32
ridge                                 31
adjiringanor                          31
tse addo                              27
sakumono                              26
oyarifa                               25
airport                               24
dzorwulu                              19
airport west                          18
east legon hills                      18
cantonments, accra, greater accra     18
tema                                  15
north ridge                           13
lakeside estate                       12
east airport                          12
abelemkpe                             11
roman ridge                           11
achimota                              11
west legon                            10
nungua                                10
adenta                                10
north legon                           10
dansoman                               9
dzorwulu, accra, greater accra         9
kwabenya                               9
shiashie                               8
kanda                                  8
east cantonments                       7
eastlegon                              6
ablekuma                               5
ridge road                             5
east legon, accra, greater accra       5
spintex road                           5
tesano                                 4
madina                                 4
weija                                  4
airport rd                             4
ofankor                                4
airport hills                          4
lashibi                                4
airport reseidential                   4
airport city                           4
ashaley botwe                          3
Name: Location, dtype: int64

In [41]:
df.Location.value_counts().tail(50)

east legon adjirnganor                                              1
dowenya community 25                                                1
fumesua                                                             1
kodie bowire-kumasi                                                 1
community 6 lakeside estate                                         1
sakumono estate                                                     1
ringway estate, osu, accra 10 off                                   1
tsopoli fantabulous lands ne                                        1
downtown dubai                                                      1
liberation road                                                     1
nyaniba estates osu                                                 1
shaishie                                                            1
west hills mall                                                     1
osu, accra                                                          1
haatso-atomic rd                                                    1
amasaman                                                            1
ring road                                                           1
east legon,ars                                                      1
east legon in clifton shaishie (rent/sale)                          1
buduburam                                                           1
dzowulo                                                             1
4bedroom mansion with pool for sale at east legon ogbojo 430,000    1
cantonments,accra                                                   1
shiashi                                                             1
dzorwulu, accra                                                     1
batsona- spintex                                                    1
osu, bravia residency 1& 2 bedroom apartments                       1
adenta sakora                                                       1
east legon-shiashie                                                 1
taifa                                                               1
maakro                                                              1
ofankor barrier                                                     1
north kaneshie                                                      1
takoradi                                                            1
ada                                                                 1
ngleshie amanfro                                                    1
west hills                                                          1
kass towers airport residential ( usd                               1
independence ave                                                    1
westhills hall mall weija (newly built)                             1
teshie completion by sept 2023                                      1
asylum down                                                         1
apolonia city                                                       1
cantonments road                                                    1
- accra - sakumono                                                  1
1 1 48 m                                                            1
shaishi                                                             1
labone estates                                                      1
north dzorwulu                                                      1
cantonments - duplex                                                1
Name: Location, dtype: int64

In [42]:
east = pd.concat([df.query('Location.str.contains("shias")'),east],axis = 0)

,Bedrooms,House Type,Location,Price
104,2,furnished apartment,shiashie,[Price disclosed on request]
186,1,furnished apartment,east legon shiashie,1475847
214,1,furnished apartment,shiashie,1950
215,1,furnished apartment,shiashie,1475847
484,3,apartment,east legon-shiashie,2160000
...,...,...,...,...
1577,2,apartment,east legon,851450
1585,4,apartment,east legon hills,4541068
1586,4,furnished apartment,east legon,5108702
1590,3,apartment,east legon,5108702
1593,4,apartment,east legon,5108702

In [46]:
east_hills = east.query('Location.str.contains("hills")')

In [47]:
eastst legon hills	4541068
1586	4	furnished apartment	east legon	5108702
1590	3	apartment	east legon	5108702
1593	4	apartment	east legon	5108702
306 rows × 4 columns

,Bedrooms,House Type,Location,Price
104,2,furnished apartment,shiashie,[Price disclosed on request]
186,1,furnished apartment,east legon shiashie,1475847
214,1,furnished apartment,shiashie,1950
215,1,furnished apartment,shiashie,1475847
484,3,apartment,east legon-shiashie,2160000
...,...,...,...,...
1577,2,apartment,east legon,851450
1585,4,apartment,east legon hills,4541068
1586,4,furnished apartment,east legon,5108702
1590,3,apartment,east legon,5108702
1593,4,apartment,east legon,5108702