##### create a series object of 50 different cars
##### find the longest length of the string of the car
##### find the shortest length of the string of the car
##### find the average lengtth of the string

In [1]:
import pandas as pd

cars = ['Audi A3', 'Toyota Camry', 'Honda Accord', 'Ford Mustang', 'Chevrolet Malibu', 'Mercedes-Benz C-Class', 'BMW 3 Series', 'Tesla Model S', 'Volkswagen Passat', 'Nissan Altima', 'Hyundai Sonata', 'Kia Optima', 'Lexus ES', 'Mazda6', 'Subaru Outback', 'Jeep Cherokee', 'Ford Explorer', 'Chevrolet Tahoe', 'Toyota RAV4', 'Honda CR-V', 'Nissan Rogue', 'Tesla Model 3', 'Volvo XC90', 'BMW X5', 'Audi Q5', 'Mercedes-Benz GLE', 'Cadillac Escalade', 'Lexus RX', 'Chevrolet Equinox', 'Hyundai Tucson', 'Jeep Wrangler', 'Ford Bronco', 'Land Rover Range Rover', 'Porsche 911', 'Tesla Model X', 'Volkswagen Tiguan', 'Subaru Forester', 'Toyota Highlander', 'Mazda CX-5', 'Honda Pilot', 'Nissan Pathfinder', 'Chevrolet Traverse', 'Kia Telluride', 'Audi Q7', 'Volvo XC60', 'BMW X3', 'Mercedes-Benz GLC', 'Lexus NX', 'Ford Escape', 'Jeep Grand Cherokee']

In [2]:
cars_series = pd.Series(cars)

In [3]:
cars_series

0             Jeep Cherokee
1                    Mazda6
2              BMW 3 Series
3               Toyota RAV4
4             Tesla Model S
5             Jeep Wrangler
6             Nissan Altima
7             Ford Explorer
8                  Lexus NX
9               Ford Bronco
10            Kia Telluride
11               Honda CR-V
12               Volvo XC60
13            Tesla Model X
14            Kia Telluride
15             Ford Mustang
16               Mazda CX-5
17            Jeep Wrangler
18                  Audi Q5
19               Mazda CX-5
20             Toyota Camry
21            Tesla Model S
22              Honda Pilot
23            Kia Telluride
24               Kia Optima
25            Nissan Altima
26            Tesla Model X
27              Toyota RAV4
28           Subaru Outback
29             Ford Mustang
30               Honda CR-V
31          Subaru Forester
32           Hyundai Tucson
33           Hyundai Tucson
34      Jeep Grand Cherokee
35               Volvo XC60
36                 Lexus ES
37    Mercedes-Benz C-Class
38               Volvo XC60
39          Subaru Forester
40              Ford Bronco
41          Chevrolet Tahoe
42             Nissan Rogue
43               Mazda CX-5
44               Honda CR-V
45            Tesla Model S
46             Ford Mustang
47    Mercedes-Benz C-Class
48                  Audi Q5
49       Chevrolet Traverse
dtype: object

In [37]:
cars_series

NameError: name 'car_series' is not defined

In [152]:
lenn = []
car = []
for row in cars_series:
#     print(len(row))
    lenn.append(len(row))
    car.append(row)
print(lenn)

maxi = max(lenn)
print(maxi)
indx = lenn.index(maxi)
print(indx)

kk = lenn.index(maxi)
print(cars_series[indx])

[13, 6, 12, 11, 13, 13, 13, 13, 8, 11, 13, 10, 10, 13, 13, 12, 10, 13, 7, 10, 12, 13, 11, 13, 10, 13, 13, 11, 14, 12, 10, 15, 14, 14, 19, 10, 8, 21, 10, 15, 11, 15, 12, 10, 10, 13, 12, 21, 7, 18]
21
37
Mercedes-Benz C-Class

In [99]:
leng = [len(s) for s in cars_series]
print (leng)

longid = leng.index(max(leng))
print(longid)

[13, 6, 12, 11, 13, 13, 13, 13, 8, 11, 13, 10, 10, 13, 13, 12, 10, 13, 7, 10, 12, 13, 11, 13, 10, 13, 13, 11, 14, 12, 10, 15, 14, 14, 19, 10, 8, 21, 10, 15, 11, 15, 12, 10, 10, 13, 12, 21, 7, 18]
37

In [100]:
long = cars_series[longid]
print(long)

Mercedes-Benz C-Class