### how many rows and colums are in the data
what are the datatypes of the 

are there any missing values in the data? If yes, treat them using an appropriate method

### SETUP

In [206]:
import pandas as pd
import numpy as np

### IMPORT DATASET

In [207]:
df = pd.read_csv("foodhub_order.csv")

#### QUESTION 1: HOW MANY ROWS AND COLUMNS ARE PRESENT IN THE DATA?

In [208]:
print(f"There are {df.shape[0]} rows and {df.shape[1]} columns present in the data")

There are 1898 rows and 9 columns present in the data

#### QUESTION 2: WHAT ARE THE DATATYPES OF THE DIFFERENT COLUMNS IN THE DATASET?(THE INFO() FUNCTION CAN BE USED)

In [209]:
df.info(show_counts = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int64
 1   customer_id            int64
 2   restaurant_name        object
 3   cuisine_type           object
 4   cost_of_the_order      float64
 5   day_of_the_week        object
 6   rating                 object
 7   food_preparation_time  int64
 8   delivery_time          int64
dtypes: float64(1), int64(4), object(4)
memory usage: 133.6+ KB

#### QUESTION 3: ARE THERE ANY MISSING VALUES IN THE DATA? IF YES, TREAT THEM USING AN APPROPRIATE METHOD

In [42]:
### cleaning data for rating column

In [198]:
df.rating = df.rating.replace("Not given", np.nan)

In [91]:
### convert rating column from object to int

In [205]:
#df = df.astype({'rating':'int'})

#### QUESTION 4: CHECK THE STATISTICAL SUMMARY OF THE DATA. WHAT IS THE MINIMUM,AVERAGE, AND MAXIMUM TIME IT TAKES FOR FOOD TO BE PREPARED ONCE AN ORDER IS PLACED?

In [210]:
print(f" The minimum time it takes for food to be prepared once order is placed is {df.food_preparation_time.min()} minutes")

 The minimum time it takes for food to be prepared once order is placed is 20 minutes

In [211]:
print(f" The average time it takes for food to be prepared once order is placed is {df.food_preparation_time.sum()/len(df.food_preparation_time)} minutes")

 The average time it takes for food to be prepared once order is placed is 27.371970495258168 minutes

In [212]:
print(f" The maximum time it takes for food to be prepared once order is placed is {df.food_preparation_time.max()} minutes")

 The maximum time it takes for food to be prepared once order is placed is 35 minutes

In [245]:
df.describe().food_preparation_time

count    1898.000000
mean       27.371970
std         4.632481
min        20.000000
25%        23.000000
50%        27.000000
75%        31.000000
max        35.000000
Name: food_preparation_time, dtype: float64

#### QUESTION 5: HOW MANY ORDERS ARE NOT RATED

In [213]:
print(f"Then number of orders that are not rated are {len(df[df.rating == 'Not given'])} orders")

Then number of orders that are not rated are 736 orders

#### QUESTION 6: WHICH ARE THE TOP 5 RESTAURANTS IN TERMS OF THE NUMBER OF ORDERS RECEIVED?

In [214]:
df.columns

Index(['order_id', 'customer_id', 'restaurant_name', 'cuisine_type',
       'cost_of_the_order', 'day_of_the_week', 'rating',
       'food_preparation_time', 'delivery_time'],
      dtype='object')

In [215]:
df.restaurant_name.value_counts()

Shake Shack                  219
The Meatball Shop            132
Blue Ribbon Sushi            119
Blue Ribbon Fried Chicken     96
Parm                          68
                            ...
Sushi Choshi                   1
Dos Caminos Soho               1
La Follia                      1
Philippe Chow                  1
'wichcraft                     1
Name: restaurant_name, Length: 178, dtype: int64

#### QUESTION 7: WHICH IS THE MOST POPULAR CUISINE ON WEEKENDS

In [243]:
week = df[df.day_of_the_week == 'Weekend']

In [264]:
week.restaurant_name.value_counts().head(1)

Shake Shack    145
Name: restaurant_name, dtype: int64

#### QUESTION 8: WHAT PERCENTAGE OF ORDERS COST MORE THAN 20 DOLLARS?

In [230]:
orders_20 = df[df.cost_of_the_order > 20] #normlize = True

In [163]:
percent = int((len(orders_20)/len(df)) * 100)

In [184]:
print(f" The percentage of orders which cost more than 20 Dollars is {percent}% ")

 The percentage of orders which cost more than 20 Dollars is 29%

#### QUESTION 9: WHAT IS THE MEAN ORER DELIVERY TIME

In [249]:
print(f"The mean for order delivery time is {df.delivery_time.sum()/len(df.delivery_time)}")

The mean for order delivery time is 24.161749209694417

#### QUESTION 10: THE COMPANY HAS DECIDED TO GIVE 20% DISCOUNT VOUCHERS TO THE 3 MOST FREQUENT CUSTOMERS. FIND THE IDs OF THESE CUSTOMERS AND THE NUMBER OF ORDERS THEY PLACED

In [177]:
df.customer_id[df.customer_id.value_counts().max()]

104548

In [187]:
df.customer_id.value_counts()

52832     13
47440     10
83287      9
250494     8
259341     7
          ..
385426     1
254913     1
289597     1
74412      1
397537     1
Name: customer_id, Length: 1200, dtype: int64

#### QUESTION 11: THE COMPANY WANTS TO PROVIDE A PROMOITIONAL OfFER IN THE ADVERTISEMENT OF THE RESTAURANTS. THE CONDITION TO GET THE OFFER IS THAT THE RESTUARANTS MUST HAVE A RATING COUNT OF MORE THAN 50 AND THE AVERAGE RATING SHOULD BE GREATER THAN 4. FIND THE RESTAURANTS FULFILLING THE CRITERIA TO GET THE PROMOTIONAL OFFER.

In [218]:
df.sort_values(by = "restaurant_name")

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
1877,1478304,321492,'wichcraft,American,8.10,Weekday,5,28,28
1583,1476757,115610,12 Chairs,Middle Eastern,14.12,Weekend,Not given,31,27
1457,1477848,276192,12 Chairs,Middle Eastern,29.05,Weekday,5,28,32
910,1477681,225912,12 Chairs,Middle Eastern,16.30,Weekday,4,27,26
925,1477960,375098,12 Chairs,Middle Eastern,29.10,Weekend,Not given,22,26
...,...,...,...,...,...,...,...,...,...
363,1477490,232035,ilili Restaurant,Middle Eastern,9.17,Weekend,Not given,26,19
182,1476875,373353,indikitch,Indian,22.26,Weekend,Not given,35,16
460,1477901,353676,indikitch,Indian,9.26,Weekend,5,33,26
601,1478055,7567,indikitch,Indian,5.58,Weekend,Not given,35,30
1069,1477984,353676,indikitch,Indian,14.07,Weekend,4,20,30

In [229]:
df.iloc[:,[2,6]]

                            restaurant_name     rating
0                                   Hangawi  Not given
1                 Blue Ribbon Sushi Izakaya  Not given
2                               Cafe Habana          5
3                 Blue Ribbon Fried Chicken          3
4                          Dirty Bird to Go          4
...                                     ...        ...
1893  Chipotle Mexican Grill $1.99 Delivery          5
1894                              The Smile          5
1895                      Blue Ribbon Sushi  Not given
1896                      Jack's Wife Freda          5
1897                      Blue Ribbon Sushi  Not given

[1898 rows x 2 columns]

In [263]:
df.cuisine_type.value_counts()

American          584
Japanese          470
Italian           298
Chinese           215
Mexican            77
Indian             73
Middle Eastern     49
Mediterranean      46
Thai               19
French             18
Southern           17
Korean             13
Spanish            12
Vietnamese          7
Name: cuisine_type, dtype: int64