In [13]:
import pandas as pd
import requests

In [15]:
url = requests.get("https://www.airlinequality.com/airline-reviews/british-airways/page/2/")

In [17]:
df = pd.read_html(url.text)

In [20]:
df[1]

                         0                              1
0        Type Of Traveller                 Couple Leisure
1                Seat Type                  Economy Class
2                    Route  Seattle to Porto via Heathrow
3               Date Flown                   October 2023
4             Seat Comfort                          12345
5      Cabin Staff Service                          12345
6         Food & Beverages                          12345
7   Inflight Entertainment                          12345
8           Ground Service                          12345
9      Wifi & Connectivity                          12345
10         Value For Money                          12345
11             Recommended                             no