In [400]:
import pandas as pd
import numpy as np

df = pd.read_pickle("apt_data_v1.pkl")

In [401]:
df

     Bedrooms             House Type                  Location       Price
0           1             apartment               Adjiringanor       96497
1           1                   48 m                  1 1 48 m  1 1 1 48 m
2           1             apartment   Airport Residential Area     1045000
3           1             apartment   Airport Residential Area     2322000
4           3             apartment   Airport Residential Area     4755000
...       ...                    ...                       ...         ...
1592        3             apartment                Cantonments     5108702
1593        4             apartment                 East Legon     5108702
1594        4             apartment                 West Legon     3973435
1595        4             apartment            Lakeside Estate     1400000
1596        1   furnished apartment                   Shiashie      845000

[1597 rows x 4 columns]

In [47]:
#df.head(60)

In [402]:
df.Location = df.Location.str.lower()

In [403]:
east = df.query('Location.str.contains("east legon")')

In [404]:
east = east[east.Location.str.contains("hills") == False]

In [405]:
adj = df.query('Location.str.contains("adj")')

In [406]:
shi = df.query('Location.str.contains("shia")')

In [409]:
#df.Location.value_counts().head(50)

In [410]:
#df.Location.value_counts().tail(100)

In [411]:
east_leg = pd.concat([east,adj,shi],axis = 0)

In [416]:
east_leg['Suburb'] = "East Legon"

In [413]:
#east_leg

In [417]:
east_hills = df.query('Location.str.contains("east legon")')

In [418]:
east_hills = east_hills.query('Location.str.contains("hills")')

In [419]:
lk = df.query('Location.str.contains("lake")')

In [420]:
#lk

In [421]:
east_hills = pd.concat([east_hills,lk],axis = 0)

In [422]:
east_hills['Suburb'] = "East Legon Hills"

In [91]:
#east_hills

In [447]:
canto = df.query('Location.str.contains("cant")')

In [430]:
#canto

In [448]:
canto['Suburb'] = "Cantonments"

/var/folders/p3/m5hh4tgj36z4r763hs22tq3h0000gp/T/ipykernel_900/437580963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  canto['Suburb'] = "Cantonments"

In [449]:
canto

     Bedrooms             House Type     Location    Price       Suburb
13          1             apartment   cantonments  1889000  Cantonments
14          2             apartment   cantonments  2870000  Cantonments
22          3             apartment   cantonments  4541068  Cantonments
36          1             apartment   cantonments  1759664  Cantonments
37          1             apartment   cantonments  2043481  Cantonments
...       ...                    ...          ...      ...          ...
1531        2             apartment   cantonments  4200000  Cantonments
1556        5             apartment    cantonment  6960700  Cantonments
1566        2   furnished apartment   cantonments  1512500  Cantonments
1583        3   furnished apartment    cantonment  2964000  Cantonments
1592        3             apartment   cantonments  5108702  Cantonments

[255 rows x 5 columns]

In [431]:
airport = df.query('Location.str.contains("airp")')

In [432]:
airport['Suburb'] = "Airport"

/var/folders/p3/m5hh4tgj36z4r763hs22tq3h0000gp/T/ipykernel_900/2467929262.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airport['Suburb'] = "Airport"

In [433]:
airport

,Bedrooms,House Type,Location,Price,Suburb
2,1,apartment,airport residential area,1045000,Airport
3,1,apartment,airport residential area,2322000,Airport
4,3,apartment,airport residential area,4755000,Airport
5,1,apartment,airport residential area,2015000,Airport
6,1,apartment,airport residential area,960000,Airport
...,...,...,...,...,...
1560,F,hed apartment,airport city -tsopoli,14000,Airport
1561,F,hed apartment,airport city -tsopoli,14000,Airport
1568,3,apartment,airport road,3746381,Airport
1576,2,furnished apartment,east airport,1702901,Airport
1591,4,apartment,airport hills,7946869,Airport

In [434]:
labone = df.query('Location.str.contains("lab")')

In [435]:
labone['Suburb'] = "Labone"

/var/folders/p3/m5hh4tgj36z4r763hs22tq3h0000gp/T/ipykernel_900/3062944594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  labone['Suburb'] = "Labone"

In [436]:
labone.Location.value_counts()

labone                                       65
labone coffee shop                            1
cantonments labone                            1
labadi                                        1
tsopoli -beautiful estate plots available     1
labone estates                                1
Name: Location, dtype: int64

In [437]:
new = pd.concat([east_leg,east_hills,canto,labone,airport],axis = 0)

In [439]:
#new

### East Legon MIN,MAX,MEDIAN,OUTLIERS

In [469]:
east_leg = east_leg[east_leg.Price.str.contains("Price") == False]

In [470]:
east_leg = east_leg.astype({"Price":"int"})

In [471]:
east_leg.Price.min()

1950

In [472]:
east_leg.Price.max()

215700730

In [473]:
east_leg.Price.median()

2148503.5

In [474]:
IQR_east_leg = east_leg.Price.quantile(0.75) - east_leg.Price.quantile(0.25)
IQR_east_leg

1891598.75

In [475]:
low = east_leg.Price.quantile(0.25) - 1.5 * IQR_east_leg
low

-1486369.125

In [476]:
high = east_leg.Price.quantile(0.75) + 1.5 * IQR_east_leg
high

6080025.875

In [477]:
east_leg.Price.max() > high

True

In [ ]:
# There are high outliers

### Cantoments MIN,MAX,MEDIAN,OUTLIERS

In [478]:
canto = canto[canto.Price.str.contains("Price") == False]

In [479]:
canto = canto.astype({"Price":"int"})

In [480]:
canto.Price.min()

35806

In [481]:
canto.Price.max()

999980000

In [483]:
canto.Price.median()

3007890.0

In [484]:
IQR_canto = canto.Price.quantile(0.75) - canto.Price.quantile(0.25)
IQR_canto

2212181.0

In [485]:
low_canto = canto.Price.quantile(0.25) - 1.5 * IQR_canto
low_canto

-1197691.5

In [486]:
high_canto = canto.Price.quantile(0.75) + 1.5 * IQR_canto
high_canto

7651032.5

In [487]:
canto.Price.max() > high_canto

True

In [ ]:
## There are high outliers in this dataset

#### East Legon Hills MIN,MAX,MEDIAN,OUTLIERS

In [149]:
east_hills = east_hills[east_hills.Price.str.contains("Price") == False]

In [151]:
east_hills = east_hills.astype({"Price":"int"})

In [152]:
east_hills.Price.min()

570000

In [153]:
east_hills.Price.max()

9082136

In [172]:
east_hills.Price.median()

1475847.0

In [173]:
IQR_hills = east_hills.Price.quantile(0.75) - east_hills.Price.quantile(0.25)
IQR_hills

1165093.25

In [174]:
low_hills = east_hills.Price.quantile(0.25) - 1.5 * IQR_hills
low_hills

-656389.875

In [175]:
high_hills = east_hills.Price.quantile(0.75) + 1.5 * IQR_hills
high_hills

4003983.125

In [176]:
east_hills.Price.max() >high_hills

True

In [164]:
#There are high outliers

### Labone MIN,MAX,MEDIAN,OUTLIER

In [488]:
labone = labone[labone.Price.str.contains("Price") == False]

In [489]:
labone = labone.astype({"Price":"int"})

In [490]:
labone.Price.min()

750000

In [491]:
labone.Price.max()

80149850

In [492]:
labone.Price.median()

2781404.0

In [493]:
IQR_lab = labone.Price.quantile(0.75) - labone.Price.quantile(0.25)
IQR_lab

2258022.75

In [494]:
low_lab = labone.Price.quantile(0.25) - 1.5 * IQR_lab
low_lab

-1688651.375

In [495]:
high_lab = labone.Price.quantile(0.75) + 1.5 * IQR_lab
high_lab

7343439.625

In [496]:
labone.Price.max() > high_lab

True

In [198]:
# There are outliers in the pricing of houses in Labone

### AIRPORT MIN,MAX,MEDIAN,OUTLIERS

In [497]:
airport = airport[airport.Price.str.contains("Price") == False]

In [498]:
airport = airport.astype({"Price":"int"})

In [499]:
airport.Price.min()

1800

In [500]:
airport.Price.max()

113526700

In [501]:
airport.Price.median()

3124440.0

In [502]:
IQR_air = airport.Price.quantile(0.75) - airport.Price.quantile(0.25)
IQR_air

3275688.0

In [503]:
low_air = airport.Price.quantile(0.25) - 1.5 * IQR_air
low_air

-3080518.0

In [504]:
high_air = airport.Price.quantile(0.75) + 1.5 * IQR_air
high_air

10022234.0

In [505]:
airport.Price.max() > high_air

True

In [197]:
## There are outliers in the pricing of apartments Airport

### East Legon Hills MIN,MAX,MEDIAN, OUTLIERS

In [513]:
east_hills = east_hills.astype({"Price":"int"})

In [514]:
east_hills.Price.min()

570000

In [515]:
east_hills.Price.max()

9082136

In [516]:
east_hills.Price.median()

1475847.0

In [517]:
IQR_hills = east_hills.Price.quantile(0.75) - east_hills.Price.quantile(0.25)
IQR_hills

1165093.25

In [518]:
low_hills = east_hills.Price.quantile(0.25) - 1.5 * IQR_hills
IQR_hills

1165093.25

In [519]:
high_hills = east_hills.Price.quantile(0.75) + 1.5 * IQR_hills
high_hills

4003983.125

In [520]:
east_hills.Price.max() > high_hills

True

In [219]:
# There aere outliers in the pricing of apartments in East Legon Hills

### - - - - - -

In [521]:
east_leg.Location.nunique()

30

In [522]:
east_leg.Price.mean() / 12

294912.98846960167

In [523]:
east_leg.Location.count()

318

In [524]:
east_hills.Price.mean() / 12

174651.58823529413

In [525]:
east_hills.Location.count()

34

In [526]:
canto.Price.mean() / 12

646454.4856091031

In [527]:
canto.Location.count()

249

In [528]:
labone.Price.mean() / 12

365908.6960784314

In [529]:
labone.Location.count()

68

In [530]:
airport.Price.mean() / 12

431333.1032901834

In [531]:
airport.Location.count()

309

In [450]:
canto = canto[canto.Bedrooms.str.contains("A") == False]

In [451]:
canto = canto.astype({"Bedrooms":"int"})

In [452]:
canto.Bedrooms.mean()

2.177165354330709

In [453]:
labone = labone[labone.Bedrooms.str.contains("F") == False]

In [454]:
labone = labone[labone.Bedrooms.str.contains("A") == False]

In [455]:
labone = labone.astype({"Bedrooms":"int"})

In [456]:
labone.Bedrooms.mean()

2.0441176470588234

In [457]:
airport = airport[airport.Bedrooms.str.contains("A") == False]
airport = airport[airport.Bedrooms.str.contains("F") == False]

In [458]:
airport = airport.astype({"Bedrooms":"int"})

In [459]:
airport.Bedrooms.mean()

2.3108974358974357

In [460]:
east_leg = east_leg[east_leg.Bedrooms.str.contains("A") == False]
east_leg = east_leg[east_leg.Bedrooms.str.contains("F") == False]

In [461]:
east_leg = east_leg.astype({"Bedrooms":"int"})

In [462]:
east_leg.Bedrooms.mean()

2.2955974842767297

In [510]:
east_hills = east_hills.astype({"Bedrooms":"int"})

In [511]:
east_hills.Bedrooms.mean()

3.1176470588235294

In [466]:
canto

      Bedrooms             House Type     Location    Price       Suburb
13           1             apartment   cantonments  1889000  Cantonments
14           2             apartment   cantonments  2870000  Cantonments
22           3             apartment   cantonments  4541068  Cantonments
36           1             apartment   cantonments  1759664  Cantonments
37           1             apartment   cantonments  2043481  Cantonments
...        ...                    ...          ...      ...          ...
1531         2             apartment   cantonments  4200000  Cantonments
1556         5             apartment    cantonment  6960700  Cantonments
1566         2   furnished apartment   cantonments  1512500  Cantonments
1583         3   furnished apartment    cantonment  2964000  Cantonments
1592         3             apartment   cantonments  5108702  Cantonments

[254 rows x 5 columns]